.pa-navbar-mobile-display {
    display: block;
}

.pa-navbar-desktop-display {
    display: none;
}

.navbar-search-dropdown {
    position: relative;
    display: inline-block;
  }
  
.navbar-search-dropdown-content {
    width: 635px;
    background-color: #fdfdfd;
    position: absolute;
    display: none;
    margin-top: 15px;
    margin-bottom: 0px;
    margin-left: -483px;
    margin-right: 0px;
    padding: 15px 10px 15px 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
    border-radius: 5px;
    z-index: 1;
}
  
.navbar-search-dropdown-content {
    display: block;
}

.navbar-cart-dropdown {
    position: relative;
    display: inline-block;
  }
  
.navbar-cart-dropdown-content {
    width: 400px;
    background-color: #fdfdfd;
    position: absolute;
    display: none;
    margin-top: 15px;
    margin-left: -175px;
    padding: 15px 10px 15px 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
    border-radius: 5px;
    z-index: 1;
}
  
.navbar-cart-dropdown-content {
    display: block;
}

.navbar-account-dropdown {
    position: relative;
    display: inline-block;
  }
  
.navbar-account-dropdown-content {
    width: 230px;
    background-color: #fdfdfd;
    position: absolute;
    display: none;
    margin-top: 15px;
    margin-left: -60px;
    padding: 15px 10px 15px 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
    border-radius: 5px;
    z-index: 1;
}
  
.navbar-account-dropdown-content {
    display: block;
}

.pa-sidebar-display {
  display: block;
}

.sidebar {
    width: 0%;
    height: 100%;
    background-color: #f3f3f3;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    z-index: 3;
  }

  .sidebar .menu-title {
    position: absolute;
    margin-left: 50px;
    margin-right: 0px;
    top: 6px;
    right: 110px;
    font-size: 15px;
    color: #c5c5c5;
    font-weight: lighter;
  }
  
  .sidebar-menu {
    display: block;
    margin-top: -10px;
    padding: 8px 8px 8px 16px;
    font-size: 15px;
    color: #303841;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .sidebar-menu:hover {
    color: #007eb8;
  }

  .sidebar-sub-menu:hover {
    color: #f37021;
  }

  .sidebar .close-icon {
    position: absolute;
    margin-left: 50px;
    margin-right: 0px;
    top: 10px;
    right: 15px;
    font-size: 15px;
    color: #c5c5c5;
    font-weight: lighter;
  }

@media (min-width: 1195px) {
    .pa-navbar-mobile-display {
        display: none;
    }

    .pa-sidebar-display {
      display: block;
    }
}



@media (min-width: 1199px) {
    .pa-navbar-desktop-display {
        display: block;
    }

    .pa-sidebar-display {
      display: none;
    }
}