.term-container{
    display: flex;
    justify-content: space-between;
    width: 70%;

}

.term-container p{
  margin-left:5px;
  font-size: 14px;
  line-height: 15px;

}




@media (max-width: 870px) {
    .term-container{
        width: 60%;
    }

}

@media (max-width: 570px) {
    form {
        padding: 0 1.5rem;
      }
    
      .term-container{
        width: 70%;
    }
}