.parent-image {
    max-width: 100%;
    height: 'auto';
}

.child-image {
    width: 100px;
    margin-bottom: 10px;
}

.more-color-image {
    width: 50px;
    height: 'auto';
    margin: 0 5px;
}

.choice-size {
    opacity: 0;
    transition: 0.2s;
}

.button-add-to-cart {
    transition: 0.5s;
    background-color: black;
    color: white;
    cursor: pointer;
}



.button-add-to-cart:hover {
    background-color: white ;
    color: black;
}

.container-tabs {
    display: flex;
}