.error-container{
    width: 75%;
    background-color: #f0f0f0;
   
    height: 30px;
    border-radius: 20px;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}

.error-container p{
    color: #ef3b42;
    font-size: 12px;
    margin-right: 20px;
}

.icon{
    margin-right: 10px;
    color:'red'
}