.pa-button-submit {
    border-width: 3px;
    border-color: #e4e3e3;
    color: #0095da;
    transition-duration: 0.4s;
}

.pa-button-submit:hover {
    background-color: #ebf7fc;
    border-width: 3px;
    border-color: #0095da;
    color: #0095da;
}

.pa-button-buy-again {
    border-width: 3px;
    border-color: #e4e3e3;
    color: #f37021;
    transition-duration: 0.4s;
}

.pa-button-buy-again:hover {
    background-color: #f37021;
    border-width: 3px;
    border-color: #f37021;
    color: #e4e3e3;
}

.pa-transaction-card {
    background-color: #fdfdfd;
    box-shadow: 0px 8px 36px 0px rgba(0,0,0,0.1);
    border-radius: 5px;
    z-index: 1;
}