.information-container{
    margin:10px;
    display: flex;
  
  
}

#info-icon{
    margin-top: 4px;
    margin-right: 2px;
    width: 28px;
    height: 28px;
    color: #0072a7;
}

.information-container span{
    font-size: 13px;
    color: #282828;

}
