


  
  .reg-container {
    position: relative;
    width: 100%;
    background-color: #fff;
    min-height: 100vh;
    overflow: hidden;

  }


  
  .forms-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
 
  }
  
  .signin-signup {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 75%;
    width: 50%;
    transition: 1s 0.7s ease-in-out;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
  }

  
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 5rem;
    transition: all 0.2s 0.7s;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;

  
  
  }
  
  form.sign-up-form {
    opacity: 0;
    z-index: 1;
    margin-top: 20px;
  
  }
  
  form.sign-in-form{
    z-index: 2;
    transition: 1s 0.5s ease-in-out;
    
   
   
  }


  
  .panels-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .reg-container:before {
    content: "";
    position: absolute;
    height: 1700px;
    width: 1700px;
    top: -10%;
    right: 48%;
    transform: translateY(-50%);

    transition: 1.8s ease-in-out;
    border-radius: 50%;
    z-index: 6;
  }
  
  .image {
    width: 100%;
    transition: transform 1.1s ease-in-out;
    transition-delay: 0.4s;
  }
  
  .panel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    z-index: 6;
  }
  
  .left-panel {
    pointer-events: all;
    padding: 5rem 17% 2rem 12%;
  }
  
  .right-panel {
    pointer-events: none;
    padding: 5rem 12% 2rem 17%;

 
  }
  
  .panel .content {
    color: #534e52;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }
  
  .panel h3 {
    font-weight: 600;
    line-height: 1;
    font-size: 1.5rem;
    color:#534e52;
  }
  
  .panel p {
    font-size: 0.95rem;
    padding: 0.7rem 0;
  }
  
  .forgotContainer{
    position: absolute;
    top: 160px;
    transform: translateY(-190%);
    left: 50%;
    width: 50%;
    transition:  1s  ease-in-out;
    z-index: 5;
}
  .right-panel .image,
  .right-panel .content {
    transform: translateX(800px);
  }
  
  /* ANIMATION */
  
  .reg-container.sign-up-mode:before {
    transform: translate(100%, -50%);
    right: 52%;
  }
  
  .reg-container.sign-up-mode .left-panel .image,
  .reg-container.sign-up-mode .left-panel .content {
    transform: translateX(-800px);
  }

  
  .reg-container.sign-up-mode .signin-signup {
    left: 25%;
  }
  
  .reg-container.sign-up-mode form.sign-up-form {
    opacity: 1;
    z-index: 5;
  }
  
  .reg-container.sign-up-mode form.sign-in-form {
    opacity: 0;
    z-index: 1;
  }
  
  .reg-container.sign-up-mode .right-panel .image,
  .reg-container.sign-up-mode .right-panel .content {
    transform: translateX(0%);
  }
  
  .reg-container.sign-up-mode .left-panel {
    pointer-events: none;
  }
  
  .reg-container.sign-up-mode .right-panel {
    pointer-events: all;
  }

 

 .afterForgotContainer{
    transform: translateY(0);
    transition: 1s .5s ease-in-out;
    opacity: 1;
    

    
  
}

.when-sign-up-mode{
    transform: translateX(-1200px);
    opacity: 0;
    transition: 1s  ease-in-out ;
    transition-delay: 0.6s;
    z-index: 1;
  }
   


form.sign-in-form.when-forgot-appear{
    transform:translateY(130%);
   
}


@media (max-width: 870px) {
    .reg-container {
      min-height: 800px;
      height: 100vh;
    }
    .signin-signup {
      width: 100%;
      top: 95%;
      transform: translate(-50%, -100%);
      transition: 1s 0.8s ease-in-out;
    }

    
  
 
  
    .signin-signup,
    .reg-container.sign-up-mode .signin-signup {
      left: 50%;
    }
  
    .panels-container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 2fr 1fr;
    }
  
    .panel {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding: 4rem 9rem 0 0;
      grid-column: 1 / 2;
    }
  
    .right-panel {
      grid-row: 3 / 4;
 

    }
  
    .left-panel {
      grid-row: 1 / 2;

    }
  
    .image {
      width: 200px;
      transition: transform 0.9s ease-in-out;
      transition-delay: 0.6s;
      display: none;
    }
  
    .panel .content {
      padding-right: 15%;
      transition: transform 0.9s ease-in-out;
      transition-delay: 0.8s;
    }
  
    .panel h3 {
      font-size: 1.2rem;
    }
  
    .panel p {
      font-size: 0.7rem;
      padding: 0.5rem 0;
    }
  
 
  
    .reg-container:before {
      width: 1500px;
      height: 1500px;
      transform: translateX(-50%);
      left: 30%;
      bottom: 68%;
      right: initial;
      top: initial;
      transition: 2s ease-in-out;
    }
  
    .reg-container.sign-up-mode:before {
      transform: translate(-50%, 100%);
      bottom: 32%;
      right: initial;
    }
  
    .reg-container.sign-up-mode .left-panel .image,
    .reg-container.sign-up-mode .left-panel .content {
      transform: translateY(-330px);
    }
  
    .reg-container.sign-up-mode .right-panel .image,
    .reg-container.sign-up-mode .right-panel .content {
      transform: translateY(0px);
    }
  
    .right-panel .image,
    .right-panel .content {
      transform: translateY(300px);
    }
  
    .reg-container.sign-up-mode .signin-signup {
      top: 5%;
      transform: translate(-50%, 0);

    }

    .forgotContainer{
        width: 100%;
        position: absolute;
        left: 0;
        transition: 1s 0.5s ease-in-out;
    }
    .afterForgotContainer{
        transform: translateY(130%);
        opacity: 1;
    }
    .when-sign-up-mode{
        opacity: 0;
        transform: translateY(-40%);
    }
    form.sign-up-form{
      margin-top: 0;
    }
   
  }

  @media (max-width: 570px) {
    form {
      padding: 0 1.5rem;
    }
  
  
    .image {
      display: none;
    }
    .panel .content {
      padding: 0.5rem 1rem;
    }

   


    .reg-container:before{
        bottom:72%;
        left:50%
    }

  }
