.title {
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 15px;
    text-align: center;

  }
.forgot-text-container{
  display: flex;
z-index: 10;
  width: 70%;
  justify-content: flex-end;
  color: blue;
}
  .social-text {
    padding: 0.7rem 0;
    font-size: 1rem;
  }

    
  .social-media {
    display: flex;
    justify-content: center;
    width: 75%;
  }

  .hide-password{
    position: absolute;
    top: 20px;
    right:5px;
    color:#839b97;
    cursor: pointer;
  
}

.invalid-email{
  position: absolute;
  width: 70%;
  top:19%;
  left:24%;
  right: 0;
  bottom:0;

}
.invalid-password{
  position: absolute;
  width:75%;
  top:35%;
  left:22%
 
}

.reset-input{
    position: absolute;
    top: 20px;
    right: 5px;
    color:#839b97;
    display: none;
}


.reset-input.display-inline{
  display: inline
}

@media (max-width: 870px) {
    .forgot-text-container{
        width: 60%;
        margin-left:15px
    }
    
    .invalid-email{
      position: absolute;
      width: 60%;
      top:18%;
      left:27%;
      right: 0;
      bottom:0;
    
    }
    .invalid-password{
      position: absolute;
      width:70%;
      top:35%;
      left:24%
     
    }

}

@media (max-width: 570px) {
  
  .invalid-email{
    position: absolute;
    width: 88%;
    top:18%;
    left:17%;
    right: 0;
    bottom:0;
  
  }
  .invalid-password{
    position: absolute;
    width:89%;
    top:35%;
    left:16%
   
  }
    form {
        padding: 0 1.5rem;
      }
    
      .forgot-text-container{
          width: 80%;
          padding-right :10px;
      
      }
      
   
   

}