.reg-social-icon {
    height: 46px;
    width: 120px;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 0.45rem;
    color: #333;
    border: 1px solid black;
  
 
    font-size: 1.1rem;
    transition: 1s;
  }


  .facebook{
    background-color: #3b5998;
   border:none;
   outline: none;
   color: white;
  }

  .reg-social-icon-button{
    width: 370px;
    height: 40px;
    border:0.1px solid #321f28;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.facebook-button{
  background-color: #3b5998;
  border:none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
 }

 .facebook-button.disabled{
   background-color: "#e8e8e8";
   cursor:not-allowed;
 }

 .google-button{
  border-radius: 10px;
  cursor: pointer;
}

.google-image{
  width: 15px;
  height: 15px;
  margin-right: 13px;

}

.reg-social-icon:hover {
color: #4481eb;
border-color: #4481eb;
}

