.middle-vertical-line {
    overflow: hidden;
    text-align: center;
    margin:5px 0 5px 0
  }
  
  .middle-vertical-line:before,
  .middle-vertical-line:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }
  
  .middle-vertical-line:before {
    right: 0.5em;
    margin-left: -50%;
  }
  
  .middle-vertical-line:after {
    left: 0.5em;
    margin-right: -50%;
  }

  
 

@media (max-width: 870px) {
    .term-container{
        width: 60%;
    }

}

@media (max-width: 570px) {
    form {
        padding: 0 1.5rem;
      }
    
      .term-container{
        width: 70%;
    }
   
   

}