.modal-mask{
    background-color: rgba(0, 0, 0, .5);

    height: 100%;

    width: 200vh;
    position: absolute;
    z-index: 98;
}

@media (max-width:1141px){
    .modal-mask{
        display: none;
    }
}