.reg-modal-silhouttee{
    width: 200vh;
    height: 100vh;
    z-index: 10;
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top:0;
    left:0;
    right: 0;
    bottom:0
}
.display-none{
    display: none;
}
.reg-modal-container{
    width: 500px;
    height: 420px;

 
    z-index:12;
    border-radius: 20px;
    background: #ffffff;;
    box-shadow: 0px 10px 1px #ddd, 0 10px 20px #ccc
}

.mod-icon{
    position: absolute;
    color: #34626c;
    top:110px;
    right: 430px;
    z-index:13
  
  
}

.reg-modal-content{
    margin: 30px 20px 20px 20px;
}

.reg-modal-title{
    font-weight: bold;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.87)
    
}

.reg-modal-advice{
    font-size: 16px;

    line-height: 21px;
    color: rgba(0, 0, 0, 0.6);
}

.modal-error{
    width: 100%;
    background-color: #f0f0f0;
    position: relative;
  height: 40px;
    border-radius: 20px;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.modal-image{
    margin: auto;
    width: 50%;
    height: 50%;
    align-self: center

}

.modal-image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-message{
    color: #ef3b42;
    font-size: 16px;
}

.display-none{
    display: none;
}

.reg-modal-container form{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: space-between;
   
}

.reg-modal-container form input{
    width: 70px;
    height: 60px;
    text-align: center;
    font-size: 50px;
    outline: none;
    border: none;
    margin: 5px;
    border-bottom: 3px solid #9088d4;
    opacity: .5;
    
 
}

.reg-modal-container form input:focus{
    opacity: 1;
}
.reg-modal-container form input:valid{
    opacity: 1;
}
